body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: system-mono;
}

[am-body] {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out;

  color: var(--text);
  background: var(--background-body);
}

[am-body="unloaded"] *, [am-body="loading"] * {
  transition: none !important;
}

[am-body="loading"], [am-body="loaded"] {
  opacity: 1;
}

[am-window] {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden auto;

  padding: $pixel * 2;

  &[am-window-fullscreen] {
    padding: 0;
    overflow: initial;
  }
}

[am-window="inactive"] {
  pointer-events: none;
}