[am-tooltip] {
  position: absolute;
  transform: translateX(-$pixel * 2);
  pointer-events: none;

  background-color: var(--background-main);
  opacity: 0;
  transition: opacity .3s;

  [am-tooltip-arrow] {
    position: absolute;
    transform: translateX($pixel/2);
    width: $pixel;

    background-color: var(--pixel);
  }

  &[am-tooltip-open="true"] {
    opacity: 1;
  }
}