hr {
  margin: 1.5rem $pixel;
  border: 1px solid;

  &[am-level="1"] {
    border: $pixel solid;
  }

  &[am-level="2"] {
    border: (0.5 * $pixel) solid;
  }

  &[am-zero-horizontal-margin] {
    margin-left: 0;
    margin-right: 0;
  }

  &[am-zero-vertical-margin] {
    margin-top: 0;
    margin-bottom: 0;
  }
}