body {
  margin: 0;
  padding: 0;

  color: var(--text);
  background: repeating-conic-gradient(var(--background-alt) 0% 25%, var(--background-checker) 0% 50%) 0/ 800px 800px;
  overflow: hidden;

  .prefers-dark-mode & {
    background: repeating-conic-gradient(var(--background-checker) 0% 25%, var(--background-alt) 0% 50%) 0/ 800px 800px;
  }
}

[am-body] {
  position: fixed;
  width: 100%;
  height: 100%;

  & > [am-window] {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden auto;

    padding: $pixel * 2;

    &[am-fullscreen] {
      padding: 0;
      overflow: initial;
    }
  }

  & > [am-window=""], & > [am-window="inactive"] {
    pointer-events: none;
  }
}