[am-dialog] {
  & > dialog {
    color: inherit;
    background: none;
    border: none;

    position: absolute;
    left: auto;
    right: -$pixel;
    max-width: 500px;
    width: 100%;
    height: 100%;
    padding: $pixel * 2;
    padding-right: 0;
    overflow: hidden auto;

    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    &[open=true] {
      transform: translateX(0);
    }

    &::backdrop {
      display: none;
    }

  > * {
    margin-left: $pixel;
    padding: $pixel ($pixel * 2) ($pixel * 2) !important;
  }
  }

  & > [am-dialog-backdrop] {
    position: absolute;
    width: 100%;
    height: 100%;

    background: hsla(0, 0%, 0%, 0.25);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s, pointer-events 1ms .5s;
    transition-timing-function: ease-in-out;

    &[open=true] {
      opacity: 1;
      pointer-events: auto;
    }
  }
}