form {
  & > * + * {
    margin-top: $pixel * 3 !important;
  }

  & > fieldset > label + label {
    margin-left: $pixel * 2 !important;
  }
}

fieldset {
  border: none;

  & > span {
    display: block;
  }
}

label {
  display: inline-block;
  padding-bottom: $pixel;

  font-family: system;

  span {
    padding: 0 $pixel;
  }
}

button {
  appearance: none;
  border: none;
  font-family: system;
  background: var(--background);
}

input, textarea {
  appearance: none;
  border: none;
  outline: none;
  vertical-align: middle;
  font-family: system;
  margin: 0;
}

input[type=range] {
  appearance: none;
  outline: none;
  background: none;

  min-height: .3in;
  min-width: .3in;
}

input[type=range]::-webkit-slider-runnable-track {
  @include container();

  width: 100%;
  height: $pixel;
}

input[type=range]::-webkit-slider-thumb {
  @include interactive(true);
  transition: transform, box-shadow, background, color, text-shadow;
  transition-duration: .1s, .1s, .3s, .3s, .3s;
  transition-timing-function: ease-in-out;
  min-width: .3in;
  appearance: none;

  background-color: var(--background);
  height: .3in;
  width: $pixel;
  margin-top: -.15in;
}

input[type=range]:hover::-webkit-slider-thumb, input[type=range]:focus::-webkit-slider-thumb {
  background: hsl(0, 0%, 50%);
}

input[type=checkbox] {
  height: $pixel * 4;
  width: $pixel * 4;
  position: relative;
  margin: $pixel;

  &:before, &:after {
    content: "";
    position: absolute;
    height: $pixel;
    background: var(--pixel);
    transition-property: top left transform width;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }

  &[checked=false]:before, &[checked=false]:after {
    width: 18px;
  }

  &[checked=false]:before {
    top: 13px;
    transform: rotateZ(-45deg);
    transform-origin: left top;
  }

  &[checked=false]:after {
    top: -1px;
    transform: rotateZ(45deg);
    transform-origin: left bottom;
  }

  &[checked=true]:before {
    width: 9px;
    top: 5px;
    transform: rotateZ(45deg);
    transform-origin: 0 100%;
  }

  &[checked=true]:after {
    width: 15px;
    top: 12px;
    left: 4px;
    transform: rotateZ(-45deg);
    transform-origin: 0 0;
  }
}

input[type=radio] {
  min-height: $pixel * 3;
  position: relative;
  margin: $pixel;

  &[checked=true]:after {
    content: "";
    position: absolute;
    background: var(--pixel);
    top: $pixel;
    bottom: $pixel;
    left: $pixel;
    right: $pixel;
  }
}

select {
  appearance: none;
  border: none;
  border-radius: 0;
}

textarea {
  appearance: none;
  border: none;
  display: block;

  resize: vertical;
  min-height: 0.3in;

  &::placeholder {
    color: var(--text);
    opacity: 0.3;
    font-style: italic;
    transition: color ease-in-out 0.3s, opacity ease-in-out 0.3s;
  }

  &:hover, &:focus {
    &::placeholder {
      color: var(--text-invert);
      opacity: 1;
    }
  }
}