[am-group] {
  & > [am-group-header] {
    flex-basis: 100%;
  }
}

[am-group=""], [am-group=horizontal] {
  & > [am-group-item] {
    margin-left: $pixel * 2;
    margin-top: $pixel * 3;
  }
}

[am-group=vertical] {
  & > [am-group-item] {
    margin-top: $pixel * 3;
  }
}