input[type=checkbox] {
  height: $pixel * 4;
  width: $pixel * 4;
  position: relative;
  margin: $pixel;

  &:before, &:after {
    content: "";
    position: absolute;
    height: $pixel;
    background: var(--pixel);
    transition-property: top, left, transform, width, background;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }

  &:hover, &:focus {
    &:before, &:after {
      background: hsl(0, 0%, 100%);
    }
  }

  &[checked=false]:before, &[checked=false]:after {
    width: 18px;
  }

  &[checked=false]:before {
    top: 13px;
    transform: rotateZ(-45deg);
    transform-origin: left top;
  }

  &[checked=false]:after {
    top: -1px;
    transform: rotateZ(45deg);
    transform-origin: left bottom;
  }

  &[checked=true]:before {
    width: 9px;
    top: 5px;
    transform: rotateZ(45deg);
    transform-origin: 0 100%;
  }

  &[checked=true]:after {
    width: 15px;
    top: 12px;
    left: 4px;
    transform: rotateZ(-45deg);
    transform-origin: 0 0;
  }
}