[am-radio] {
  position: relative;

  > input[type=radio] {
    position: absolute;
  }

  > [am-icon] {
    margin: 0 $pixel $pixel;
    vertical-align: middle;

    > path {
      stroke-width: 0;
      fill: var(--pixel);
    }
  }

  > span {
    padding: 0 $pixel;
  }
}