[am-radio] {
  position: relative;

  > input[type=radio] {
    position: absolute;
    top: -$pixel;
    left: -$pixel;
    width: calc(100% + #{2 * $pixel});
    height: calc(100% + #{2 * $pixel});
  }

  > [am-icon] {
    margin-left: $pixel;
    margin-right: $pixel;

    > path {
      stroke-width: 0;
    }
  }

  > span {
    padding: 0 $pixel;
  }
}