[am-select] {
  position: relative;

  > [am-icon] {
    position: absolute;
    height: 100%;
    top: 0;
    left: 3 * $pixel;
  }

  > select {
    appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    color: inherit;
    font: 400 1rem system-san-serif;
    white-space: normal;
    width: 100%;
    line-height: calc(#{$pixel} + 2ex + #{$pixel});
    vertical-align: middle;

    padding: 0 $pixel 0 ($pixel * 9);
  }
}