@font-face {
  font-family: system-san-serif;
  font-style: normal;
  font-weight: 400;
  src: local("-apple-system"), local("BlinkMacSystemFont"), local("avenir next"), local("avenir"), local("helvetica neue"), local("helvetica"), local("Ubuntu"), local("roboto"), local("noto"), local("segoe ui"), local("arial"), local("sans-serif");
}

@font-face {
  font-family: system-mono;
  font-style: normal;
  font-weight: 400;
  src: local("Menlo"), local("Consolas"), local("Monaco"), local("Liberation Mono"), local("Lucida Console"), local("monospace");
}

* {
  line-height: calc(#{$pixel} + 2ex + #{$pixel});
  box-sizing: border-box;
  outline: none;
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-text);
}

html {
  font-size: .2in;
}

[am-preference-transition=running] * {
  transition: all .2s ease-in-out !important;
}