[am-interactive] {
  min-width: .3in;
  margin: $pixel;
  padding: $pixel;
}

[am-interactive=""] {
  @include interactive();
}

[am-interactive=floating] {
  @include interactive(true);

  margin-bottom: $pixel * 2;
}