@import "scss/variables";
@import "scss/mixins";
@import "scss/template";
@import "scss/components";

[am-maintainsize] {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

[am-mod=grid] {

}