$pixel: 4px;

:root {
  --pixel: hsl(0, 0%, 10%);
  --pixel-invert: hsl(0, 0%, 99%);
  --shadow: hsl(0, 0%, 70%);
  --background: hsl(0, 0%, 99%);
  --background-alt: hsl(0, 0%, 95%);
  --background-checker: hsl(0, 0%, 97%);
  --text: hsl(0, 0%, 0%);
  --text-invert: hsl(0, 0%, 100%);
  --selection-background: hsl(0, 0%, 20%);
  --selection-text: hsl(0, 0%, 100%);
  --selection-shadow: hsl(0, 0%, 65%);

  &.prefers-dark-mode {
    --pixel: hsl(0, 0%, 40%);
    --pixel-invert: hsl(0, 0%, 10%);
    --shadow: hsl(0, 0%, 10%);
    --background: hsl(0, 0%, 0%);
    --background-alt: hsl(0, 0%, 20%);
    --background-checker: hsl(0, 0%, 18%);
    --text: hsl(0, 0%, 90%);
    --text-invert: hsl(0, 0%, 0%);
    --selection-background: hsla(0, 0%, 50%, 0.99);
    --selection-text: hsl(0, 0%, 90%);
    --selection-shadow: hsl(0, 0%, 0%);
  }
}